{% extends 'base_layout.html' %}



{% block content %}



<div class="image-aboutus-banner"style="margin-top:70px">
   <div class="container">
    <div class="row">
        <div class="col-md-12">
         <h1 class="lg-textt">About Us</h1>
         <p class="image-aboutus-para"> Funky Heads personifies excellence. Our creative conceptualisation and high standards of deliverance have pushed us to be one of the best event management companies over the last 23 years. We pride ourselves in giving birth to moments that can be captured and cherished for life while paying innate attention to your budget and requirements.

At Funky Heads, we have learnt that time and dedication pay off to a great extent. Our stupendous team strives at creating wonderful and unforgettable memories, be it weddings, birthdays or corporate events. With an eye for detail, we make sure that we get to know our clients, understand what they want and need, and thus can execute every little detail in profound ways.

Our team is built on the morals of a family, and when we plan an event for you, you become a part of our clan as well.

At Funky Heads, we know that magic lies in every well-crafted moment and we make sure to guarantee that you’ve invested in the right place. Let Funky Heads be a part of your moment of joy, and we will make sure to give you something your guests will never forget.</p>
       </div>
    </div>
</div>
</div>






<div class="container paddingTB60" >
	<div class="row">

            <!-- Blog Post Content Column -->
        <div class="col-md-12">

                 <hr>

                <h4 class="lg-text">Price is what you pay. Value is what you get.</h4>

                <hr>

                <!-- Preview Image -->
                <img class="img-responsive" src="https://cdn-images-1.medium.com/max/2600/1*7mxgsyCgcJSlO2321WTWSQ@2x.png" alt="">


                <hr>

                <!-- Post Content -->
                <p class="vsm-textt">Our Team Behind any accomplished company is a team that drives the company’s success. We have a complete team of all verticals starting from the production crew that fabricate and manufacture anything and everything you can imagine, sound and light engineers to add magic and flavor to any event and coordinators making sure the event runs smoothly from the first day of contact with any client catering to all their needs.</p>
                <p class="vsm-textt">>Our Vision To continue our success and strive to become the best in the industry by consistently providing outstanding world class services that reflect our commitment to quality and time bound execution that makes our events extra ordinarily memorable.
Our Mission Our Mission is to surpass expectations and create memories for our clients that will last a lifetime, thereby making us the undisputed leader in this industry. We will strive to create value for our stakeholders including our staff and our community. Therefore, we begin from imagining the end.</p>

                <hr>

            </div>
    </div>
</div>



{% endblock %}
