{% extends 'base_layout.html' %}


{% block content %}


<div class="container contact-form">

            <section class="Material-contact-section section-padding section-dark">
      <div class="container">
          <div class="row">
              <!-- Section Titile -->
              <div class="container " >
                                  <img src="https://image.ibb.co/kUagtU/rocket_contact.png" alt="rocket_contact"/>
                  <h1 class="lg-text">Love to Hear From You</h1>
              </div>
          </div>


                <!-- Preview Image -->
                <img class="img-responsive" src="https://cdn-images-1.medium.com/max/800/1*l3gj_YY9nr93vgveui28lA@2x.png" alt="">


          <div class="row">
              <!-- Section Titile -->
              <div class="article">
                <p class="md-text">BHAGWAN MAHAVEER COLLEGE OF ENGINEERING & MANAGEMENT</p>
              </div>
                <div class="sm-textt">
                 Address: <a class="sm-textt" href="https://maps.google.com/maps?q=bhagwan%20mahaveer%20college%20of%20engineering%20and%20management&t=&z=13&ie=UTF8&iwloc=&output=embed">Location:BHAGWAN MAHAVEER COLLEGE OF ENGINEERING & MANAGEMENT 20th Milestone, NH - 1, Jagdishpur 131030, Delhi-NCR</a>
                </div>
                <div class="sm-textt">
                  Phone:  <a class="sm-textt">+91-8607400783</a>
                </div>

                <div class="sm-textt">
                  Website:  <a class="sm-textt" href="https://bmcem.edu">www.bmcem.edu</a>
                </div>
              </div>
</div>

              <iframe src="https://maps.google.com/maps?q=bhagwan%20mahaveer%20college%20of%20engineering%20and%20management&t=&z=13&ie=UTF8&iwloc=&output=embed" width="1200" height="450" frameborder="0" style="border:0 align:centre" allowfullscreen=""></iframe>


{% endblock %}
